@import "vars";

.activity-progress-display {
    align-self: end;
    display: flex;
    flex-flow: column wrap;
    background-color: $dark-slate;
    border-left: whitesmoke 2px solid;
    width: 80%;
    margin-left: auto;
    padding: 10px 15px;
    margin-bottom: 10px;

    div {
        height: 30px;
        width: 90%;
        color: whitesmoke;
        font-family: $monster-rat;

    }
}