@import "vars";

.banner {
    background-color: $dark-slate;
    height: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        margin: auto 0;
        text-align: center;
        color: whitesmoke;
        font-family: $roboto;
    }
}