@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Montserrat:wght@500;600&family=Roboto:wght@400;500&family=Source+Sans+Pro:wght@400;600&display=swap');
@import "vars";

.root-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;

    & > div {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 25%;
        background-color: $secondhand-grey;
    }

    .right {
        width: 75%;
        background-color: rgba(228,227,227,0.6);
    }

    .header {
        height: 50px;
    }

    .content {
        min-height: 90vh;
    }

    .left.content {
        flex-direction: column;
    }
}

.game-view-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.box {
    display: flex;
    flex-flow: column;
    background: $light-grey;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 2px;
}
