.left-column {
    background-color: #84a9ac;
}

.right-column {
    background-color: rgba(228,227,227,0.6);
}

.stretch {
    min-height: 90vh;
    box-shadow: 0px 10px 15px 5px rgba(46,46,46,0.4);
}