.explore-grid-container {
    display: flex;
    flex-flow: column;
    border: 5px double #4d4d4d;
    border-radius: 1.5%
}

.explore-grid-row {
    display: flex;
    flex-flow: row;
}

.explore-grid-col {
    flex-flow: row;
}

.animate-selected {
    animation: filter-animation 1s infinite;
}

h5, h4, h3 {
    text-align: center;
}

@keyframes filter-animation {
    0% {
        border: 0.1px solid whitesmoke;
    }

    50% {
        border: 3px solid whitesmoke;
    }

    100% {
        border: 0.1px solid whitesmoke;
    }
}