.housing-grid-container {
    display: flex;
    flex-flow: column;
    border: 5px double #4d4d4d;
    border-radius: 1.5%
}

.housing-grid-row {
    display: flex;
    flex-flow: row;
}

.housing-grid-col {
    flex-flow: row;
}

.animate-selected {
    animation: filter-animation 1s infinite;
}

@keyframes filter-animation {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(200deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }
}