nav {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    .nav-button:first-child {
        border-top-left-radius: 20px;
        border-top: 2px solid whitesmoke;
    }

    .nav-button:last-child {
        border-bottom-left-radius: 20px;
        border-bottom: 2px solid whitesmoke;
    }
}

.nav-button {
    position: relative;
    background-color: #204051;
    display: flex;
    height: 50px;
    width: 75%;
    margin-left: auto;
    flex-flow: row;
    border-left: 2px solid whitesmoke;
    transition: background-color 0.2s ease-out;
    cursor: pointer;

    &:hover {
        background-color: #365362;

        img {
            filter: brightness(0.5) sepia(1) hue-rotate(-170deg);
        }
    }

    p {
        margin: auto 0 auto auto;
        color: whitesmoke;
        padding-right: 5px;
    }

    img {
        max-height: 70%;
        padding-left: 5px;
        margin: auto auto auto 0;
    }
}

.active {
    background-color: #102029;
}